In [37]:
import pandas as pd
import numpy as np

In [81]:
pId = 1

In [93]:
 np.array([dfState[dfState.state == "start"].time.values, dfState[dfState.state == "end"].time.values])

C:\Users\admin\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

array([array([1.62713746e+09, 1.62713752e+09, 1.62713759e+09, 1.62713764e+09,
              1.62713770e+09])                                               ,
       array([1.62713751e+09, 1.62713758e+09, 1.62713764e+09, 1.62713770e+09])],
      dtype=object)

In [100]:
dfState = pd.read_csv("./data/ID%i-state.csv" % pId)
dfState.head()

if (len(dfState) % 1 == 0):
    dfState = dfState[:-1]
x = np.array([dfState[dfState.state == "start"].time.values, dfState[dfState.state == "end"].time.values])
dfRounds = pd.DataFrame(x.T)
dfRounds.columns = ["start", "end"]
dfRounds["totalTime"] = dfRounds["end"] -dfRounds["start"]
dfRounds

          start           end  totalTime
0  1.627137e+09  1.627138e+09   55.79753
1  1.627138e+09  1.627138e+09   60.66555
2  1.627138e+09  1.627138e+09   52.06050
3  1.627138e+09  1.627138e+09   55.18162

In [104]:
dfFlow = pd.read_csv("./data/ID%i-flow.csv" % pId)
print("Flow sum: %i" % len(dfFlow))
dfFlow.head()

dfVisitor = pd.read_csv("./data/ID%i-visitor.csv" % pId)
dfVisitor = dfVisitor.drop_duplicates(["name", "hasTicket"])

Flow sum: 144

In [111]:
dfV = pd.merge(dfFlow, dfVisitor[["time", "name"]], on="name", how="outer")

In [113]:

lst = []
lstRate = []
for i, e in dfRounds.iterrows():
    print( e.start,  e.end)
    x = len(dfFlow[(dfFlow.time >= e.start) & (dfFlow.time <= e.end)])
    dfX = dfV[(dfV.time_x >= e.start) & (dfV.time_x <= e.end)]
    
    fn = len(dfX[dfX.time_y.isna()])
    tp = len(dfX[~dfX.time_y.isna()])
    tn = len(dfX[dfX.time_y.isna()])
    fp = len(dfX[~dfX.time_y.isna()])
    lst.append(x)
    lstRate.append([tp, fp, tn, fn])
dfRounds["totalVisitor"] = lst

1627137455.33025 1627137511.12778
1627137518.6893 1627137579.35485
1627137589.47015 1627137641.53065
1627137643.34938 1627137698.531

In [114]:
dfX

,time_x,name,hasTicket,shirtcolor,hair,time_y
98,1.627138e+09,Character43xxxxxxxxxx,True,ShirtBlack,Liam_Hair_F,NaN
99,1.627138e+09,Character63xxxxx,True,ShirtGreen,Liam_Hair_F,NaN
100,1.627138e+09,Character5xxxxxxx,True,ShirtRed,Liam_Hair_C,NaN
101,1.627138e+09,Character60xxxxxxxxxx,True,ShirtWhite,Liam_Hair_F,NaN
102,1.627138e+09,Character69xxxxxx,True,ShirtRed,Liam_Hair_B,NaN
103,1.627138e+09,Character31xxxxx,True,ShirtBlue,Liam_Hair_C,NaN
104,1.627138e+09,Character44xxxxx,True,ShirtWhite,Liam_Hair_F,NaN
105,1.627138e+09,Character45xxxxxxxxxx,True,ShirtBlack,Liam_Hair_F,NaN
106,1.627138e+09,Liamxxxxx,True,ShirtYellow,Liam_Hair_B,NaN
107,1.627138e+09,Character53xxxxxxxxxx,True,ShirtBlue,Liam_Hair_B,NaN
108,1.627138e+09,Character66xxxxx,True,ShirtBlack,Liam_Hair_C,NaN
109,1.627138e+09,Character89xxxxx,True,ShirtGray,Liam_Hair_C,NaN
110,1.627138e+09,Character37xxxxxxxxxx,True,ShirtGray,Liam_Hair_D,NaN
111,1.627138e+09,Character95xxxxxxxxxx,True,ShirtYellow,Liam_Hair_F,NaN
112,1.627138e+09,Character15xxxxxxxxxx,False,ShirtGreen,Liam_Hair_E,1.627138e+09
113,1.627138e+09,Character72xxxxxxx,False,ShirtRed,Liam_Hair_D,NaN
114,1.627138e+09,Character62xxxxxxxxxx,True,ShirtGreen,Liam_Hair_D,NaN
115,1.627138e+09,Character82xxxxxxxxxx,True,ShirtBlack,Liam_Hair_B,NaN
116,1.627138e+09,Character22xxxxx,False,ShirtGray,Liam_Hair_C,1.627138e+09
117,1.627138e+09,Character34xxxxxxxxxx,True,ShirtGray,Liam_Hair_E,NaN
118,1.627138e+09,Character94xxxxxxxx,True,ShirtRed,Liam_Hair_C,NaN
119,1.627138e+09,Character68xxxxx,True,ShirtYellow,Liam_Hair_B,NaN
120,1.627138e+09,Character9xxxxxxxxxx,True,ShirtRed,Liam_Hair_B,NaN
121,1.627138e+09,Character61xxxxxxxxxx,True,ShirtGreen,Liam_Hair_F,NaN
122,1.627138e+09,Character25xxxxxxxxxx,True,ShirtGray,Liam_Hair_D,NaN
123,1.627138e+09,Character41xxxxxxxxxx,False,ShirtWhite,Liam_Hair_F,1.627138e+09

In [106]:
dfRounds["VisitorPerMinute"] = dfRounds.totalVisitor / (dfRounds.totalTime/60)
dfRounds

          start           end  totalTime  totalVisitor  VisitorPerMinute
0  1.627137e+09  1.627138e+09   55.79753            29         31.184176
1  1.627138e+09  1.627138e+09   60.66555            30         29.670876
2  1.627138e+09  1.627138e+09   52.06050            39         44.947705
3  1.627138e+09  1.627138e+09   55.18162            26         28.270283

In [108]:
dfX = df[df.hasTicket == False]
print("Missed: %i" % len(dfX[dfX.time_y.isna()]))
print("Found: %i" % len(dfX[~dfX.time_y.isna()]))
dfX = df[df.hasTicket == True]
print("Entered without: %i" % len(dfX[dfX.time_y.isna()]))
print("Shound not have: %i" % len(dfX[~dfX.time_y.isna()]))

Missed: 7
Found: 7
Shound not have: 1
Entered without: 129